* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: var(--left-panel-bg);
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: var(--code-bg);
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--review-btn-bg);
  color: var(--review-btn-text);
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  transition: background-color 0.3s, color 0.3s;
}


main .right {
  background-color: var(--right-panel-bg);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
  color: var(--text-color);
}